/* You can add global styles to this file, and also import other style files */
@import "~scss-reset/src/scss/_reset.scss";
@import "~@angular/material/prebuilt-themes/pink-bluegrey";

html,
body {
  height: 100%;
  background-color: #303030;
  color: #fafafa;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
