// .header {
//   padding: 0 16px;
//   height: 64px;
//   width: 100%;
//   -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
//     0 1px 18px 0 rgba(0, 0, 0, 0.12);
//   -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
//   box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
//   background-color: darken($color: #ffffff, $amount: 90);
//   color: #eeeeee;
//   display: flex;
//   flex-direction: row;

//   .brand {
//     // height: 64px;
//     line-height: 64px;
//     font-size: 2em;
//   }
// }

.container {
  width: 100vw;
  height: calc(100vh - 64px);
  padding: 32px;
  box-sizing: border-box;
}
